.dir-tree{                          
  position     :   relative;         
  margin-left  :   0;                
  padding-left :   0;                
  border-left  :   2px solid black;  
}                                   
.dir-entry{                         
  position     :   relative;         
  margin-left  :   1rem;             
}                                   
.dir-entry::before{
  content      :   ''                
}                                   
.dir-tree::before{
  content      :   '--\\'            
}
